sudo apt-get update
apt-get install gmsh -y
python -m pip install gmsh
pip install numpy
pip install matplotlib
pip install meshio[all]
pip install scipy
gmsh -2 plate.geo -o plate.msh

https://packaging.python.org/en/latest/guides/distributing-packages-using-setuptools/
To install a Python package in “editable”/”development” mode Change directory to the root of the project directory and run:
python3 -m pip install -e .